# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.github/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.whl
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.prof

# Translations
*.mo
*.pot

# Django stuff:
*.sqlite3
*.sqlite
*.db

# Flask stuff:
instance/
.flaskenv

# Environments
.env
.venv
venv/

# IDE
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.vscode/

# OS
.DS_Store
Thumbs.db
